<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Blog Capstone</title>
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <section name="Hero">
        <div class="hero">
            <div class="background"></div>
            <div class="content">
                <h1 class="hero-title">read about everything.</h1> 
                <!-- Header typing animation with JavaScript -->
            </div>
        </div>
    </section>

    <section name="Blog Grid">
        <div class="blogs">
            <h1>Recent blog posts</h1>

            <!-- Grid view -->
             <div class="grid-view">

                <% for (let i = 0; i < posts.length; i++) { %>
                    <% let currentPost = posts[i]; %>

                    <div class="blog-post">
                        <img class="blog-thumbnail" src=<%= currentPost.imageUrl %> alt="Blog Thumbnail">
                        <div class="blog-content">
                            <div>
                                <p class="blog-title"><%= currentPost.getShortTitle() %></p>
                                <p class="blog-desc">By <%= currentPost.author %></p>
                            </div>
                            <div class="more-icon">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>

                <% } %>

                <a href="/create">
                    <div class="blog-post add">
                        <img src="https://static.thenounproject.com/png/65474-200.png" alt="add button">
                    </div>
                </a>

             </div>
             
        </div>
    </section>

    <%- include("partials/footer.ejs") %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="./scripts/index.js"></script>
    
</body>
</html>